@import "tailwindcss";
@theme {
  --font-gloock: "Gloock", serif;
  --font-dmsans: "DM Sans", sans-serif;
  --font-cormorant: "Cormorant Garamond", serif;
}
/* 
Cream       #F7F1E7
Dark Brown  #29221D
Terracotta  #A9573F
Clay        #C98F6B
Olive       #74745A */